/* ********** 공통 클래스 시작 ********** */
html, body, code{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    color: #333;
    overflow-x: hidden;
}
#wrap { 
    width: 100%;
    margin: 0 auto;
}
#container { max-width:1600px; width: 100%; margin:0 auto; *zoom:1; }
#contents { float:none; width: 100%; margin:0 auto; }
a:hover { text-decoration:none; }
.ec-base-product{
    margin: 0;
    padding: 6.25rem 0;
    box-sizing: border-box;
}
.ec-base-product .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.ec-base-product .title h2{
    font-weight: 500;
    font-size: 2.25rem;
    color: #333;
    text-align: center;
}
.ec-base-product .title .sub-title{
    text-align: center;
    font-size: 1.125rem;
    color: #A0A0A0;
}
/* 메인 더보기 이동 버튼 */
.btn-wrap{
    margin-top: 3.75rem;
    max-width: 13.75rem;
    width: 100%;
    max-height: 3.125rem;
    border: 1px solid #999;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
}
.btn-wrap .more-btn{
    display: block;
    width: max-content;
    color: #999;
    background: none;
    height: 1.5rem;
    border-bottom: solid 1px transparent;
}
.btn-wrap .more-btn:hover{
    border-bottom: solid 1px #999;
}
/* 상품 더보기(불러오기) 버튼 */
.more_btn{
    margin: 30px auto 8rem;
    display:block;
    text-align:center;
}
.more_btn a{
    display:block;
    text-align:center;
    margin:0 auto;
    max-width: 13.75rem;
    width: 100%;
    line-height:3;
    font-size:.875rem;
    color:#333;
    border:1px solid #ccc;
    font-weight:500;
    transition:all .4s;
}
.more_btn a:hover{
    color:#000;
    border-color:#333;
}
#quick{
    display: none;
}
#quick.show{
    display: block;
}
/* 상품 스타일 */
.ec-base-product .prdList{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ec-base-product .prdList > li{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}
.ec-base-product .prdList .thumbnail{
    margin: 0;
}
.ec-base-product ul.grid4 > li{
    width: 22%;
}
.ec-base-product .prdList .thumbnail a{
    display: block;
}
.ec-base-product .prdList .description { 
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ec-base-product .prdList .thumbnail .icon { 
    margin:0; 
    border-bottom:0; 
    vertical-align:middle; 
    width: 100%;
}
.ec-base-product .prdList .thumbnail .wish{
    position: static;
    cursor:pointer;
}
.ec-base-product .prdList .thumbnail .button { 
    float:none; 
    margin:0; 
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.25rem;
}
.ec-base-product .prdList .thumbnail .button img { 
    margin:0 2px 0 0; 
    cursor:pointer; 
}
.ec-base-product .prdList .thumbnail .button img:nth-child(5) { 
    display: none;
}
.ec-base-product .spec li{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ec-base-product .spec li:nth-child(1){
    margin-bottom: 10px;
}
.ec-base-product .spec li:nth-child(2){
    margin-right: 10px;
}
.ec-base-product .spec li:nth-child(2),
.ec-base-product .spec li:nth-child(3){
    display: inline-block;
}
.ec-base-product .prdList .description .name{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 할인율 텍스트 */
.discount-text{
    color: #c10303;
    margin-left: 10px;
}
/* 페이지네이션 */
.ec-base-paginate {
    margin: 30px 0 10rem;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.ec-base-paginate li {
    border: none;
    font-size: .875rem;
}
.ec-base-paginate li a.this {
    padding-bottom: 6px;
    border-bottom: 3px solid #495164;
    color: #495164;
}
/* 게시판 테이블 */
.ec-base-table table{
    text-align: center;
    border: none;
    border-bottom: 1px solid #eee;
}
.ec-base-table thead th{
    font-weight: 600;
}
.ec-base-table.typeList table {
    border-top: none;
}
.ec-base-table.typeList td {
    padding: 16px 10px;
}
/* 장바구니 카운트 */
/* .xans-layout-statelogon > a .count span{
    height: 16px;
    line-height: 13px;
} */
#header .topArea .xans-element-.xans-layout.xans-layout-statelogon a {
    position: relative;
}
#header .topArea .util-menu .xans-layout-statelogon > a .count {
    position: absolute;
    top: 12px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 0 0 0 8px;
}
#header .topArea .xans-layout-statelogon > a .count span {
    position: relative;
    display: inline-block;
    height: 17px;
    background: none;
}
/* 서브페이지 타이틀 */
.titleArea {
    border-bottom: 0;
}
.titleArea h2 {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    font-weight: 400;
}
/* ********** 공통 클래스 종료 ********** */


/* ********** 헤더 시작 ********** */
#header,
#header:before,
#header:after{
    position: relative;
    background-color: #fff;
    border: 0;
}
#header .inner:after,
#header .topArea:after,
#container::after{
    display: none;
}
#header.fix {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
#header .inner{
    max-width: 1600px;
    width: 100%;
    position: static;
}
#header .inner:after,
#header .topArea:after,
#container:after{
    display: none;
}
#header .topArea{
    height: 82px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .inner .topArea .xans-element-.xans-layout.xans-layout-logotop{
    max-width: 215px;
    min-width: 150px;
    margin: 0;
}
#header #category.xans-layout-category{
    margin-bottom: 0;
    width: 60%;
}
#header #category.xans-layout-category .sub-list-box .one_depth{
    display: none;
}
#header .topArea .xans-layout-category .position .category_depth{
    position: relative;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li{
    text-align: center;
    width: 20%;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > li > a{
    display: block;
    line-height: 3;
    color: #000;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 33.3333333%;
    z-index: 9999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
    display: flex;
}
#header .topArea .xans-layout-category .position .category_depth:hover .sub-list-box{
    opacity: 1;
    visibility: visible;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list{
    width: calc(100% / 6);
    text-align: center;
}
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu a{
    display: block;
    line-height: 3;
    color: #333;
    margin: 0 1rem;
}
#header .topArea .xans-layout-category .position .category_depth .main-category-list > .sub-menu:hover > a,
#header .topArea .xans-layout-category .position .category_depth .sub-list-box .sub-category-list .sub-menu:hover a{
    color: #000;
    text-decoration: underline;
}
#header .topArea #category:hover ~ .header-bg{
    opacity: 1;
    visibility: visible;
    height: 14rem;
}
#header .topArea .header-bg{
    background-color: #fff;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 14rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
#header .topArea .xans-layout-category .category_depth > li,
.category_depth > .xans-record-{
    display: none;
}
/* ********** 유틸메뉴 시작 ********** */
.util-menu{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
.xans-element-.xans-layout.xans-layout-searchheader {
    float: none;
    margin: 0;
}
.xans-element-.xans-layout.xans-layout-searchheader #keyword{
    display: none;
}
.xans-element-.xans-layout.xans-layout-searchheader fieldset{
    border: 0;
}
.xans-element-.xans-layout.xans-layout-statelogon,
.xans-element-.xans-layout.xans-layout-statelogoff{
    float: none;
    height: auto;
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1.25rem;
}
.xans-element-.xans-layout.xans-layout-statelogon a,
.xans-element-.xans-layout.xans-layout-statelogoff a{
    display: block;
    padding: 0;
    background: none;
}
/* ********** 유틸메뉴 종료 ********** */
/* ********** 헤더 종료 ********** */


/* ********** 푸터 시작 ********** */
#footer {
    position: relative;
    border-top: 1px solid #333;
    border-bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer:before,
#footer .inner:after {
    display: none;
}
#footer .inner {
    overflow: hidden;
    position: relative;
    max-width:1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .inner .footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#footer .inner .footer-left .cs{
    display: flex;
    flex-direction: column;
    gap: .375rem;
}
#footer .inner .footer-left .cs-num{
    font-size: 2.5rem;
    font-weight: 700;
}
#footer .inner .footer-left .time{
    font-size: .875rem;
    color: #999;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#footer .inner .footer-left .sns{
    display: flex;
}
#footer .xans-layout-footer{
    position:relative;
    float:none; 
    max-width:1600px;
    width: 100%;
}
#footer .xans-layout-footer .utilMenu{
    display: flex;
    gap: 1.875rem;
    line-height: 1;
    height: auto;
    overflow: visible;
}
#footer .xans-layout-footer .utilMenu li{
    float:none;
    padding: 0;
    background: none;
}
#footer .xans-layout-footer .utilMenu li a { 
    color:#333; 
    font-size: .875rem; }
#footer .xans-layout-logobottom{
    float:none;
    padding: 0;
    max-width: 215px;
    width: 100%;
}
#footer .xans-layout-logobottom img{
    display: block;
    width: 100%;
}
#footer .inner .footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 13.4375rem;
    justify-content: space-between;
}
#footer .inner .footer-right .xans-layout-logobottom a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .address { 
    padding: 0; 
    color:#333; 
    line-height:normal; 
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    gap: .375rem;
}
#footer .address li{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#footer .address li p{
    display: flex;
    gap: .625rem;
}
#footer .address span {
    padding:0; 
}
#footer .address .t01{
    color: #999;
}
#footer .xans-layout-footer .address p span a { 
    color:#333; 
}
#footer .xans-layout-footer .copyright { 
    position:static; 
    height:auto; 
    font-size:.875rem; 
    line-height:normal; 
}
#footer .hosting { 
    position:static;
}
/* ********** 푸터 종료 ********** */


/* ********** 메인배너 시작 ********** */
#main .visual{
    width: 100%;
    height: 43.75rem;
    display: flex;
}
#main .visual > div{
    width: 50%;
}
#main .visual .main-banner-left{
    background-color: #F1E6DA;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}
#main .visual .main-banner-left .t01{
    font-size: 3.125rem;
    font-weight: 500;
}
#main .visual .main-banner-left .t02{
    font-size: 1.875rem;
}
#main .visual .main-banner-left .t03{
    border-bottom: 1px solid #333;
}
#main .visual .main-banner-left .t03 a{
    display: block;
    font-size: 1.25rem;
    color: #333;
    line-height: 1.4;
}
/* ********** 메인배너 스와이퍼 슬라이드 시작 ********** */
#main-banner.swiper {
    width: 100%;
    height: 100%;
}
#main-banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main-banner .swiper-pagination-bullet{
    width: 100px;
    height: 1px;
    background-color: #ccc;
    margin: 0;
    border-radius: 0;
}
#main-banner .swiper-pagination-bullet-active{
    width: 100px;
    height: 1px;
    background-color: #E9E9E9;
}
#main-banner .swiper-pagination{
    bottom: 30px;
    width: auto;
    left: 50px;
}
/* ********** 메인배너 스와이퍼 슬라이드 종료 ********** */
/* ********** 메인배너 종료 ********** */


/* ********** 상단배너 시작 ********** */
#minerals .minerals-wrap{
    display: flex;
}
#minerals .minerals-wrap > div{
    width: 50%;
}
#minerals .minerals-wrap .minerals-banner{
    max-width: 50rem;
    width: 100%;
}
#minerals .minerals-wrap .minerals-banner img{
    display: block;
    width: 100%;
}
#minerals .minerals-wrap .title{
    display: none;
}
#minerals .minerals-wrap .icon{
    display: none;
}
#minerals.ec-base-product .minerals-wrap  .prdList { 
    width:100%; 
    margin:0; 
    font-size:0; 
    line-height:normal; 
    display: flex;
    flex-wrap: wrap;
}
#minerals.ec-base-product .minerals-wrap .prdList > li { 
    position:relative; 
    margin:0; 
    color:transparent; 
    vertical-align:middle; 
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
}
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(1){
    flex-direction: row-reverse;
}
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(1),
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(4){
    background-color: #E9E9E9;
}
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(2){
    padding: 0 0 0 2.5rem;
    box-sizing: border-box;
}
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(2),
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(3){
    background-color: #F8F8F8;
}
#minerals.ec-base-product .minerals-wrap .prdList > li:nth-child(3){
    text-align: end;
    justify-content: flex-end;
    padding: 0 2.5rem 0 0;
    box-sizing: border-box;
}
#minerals.ec-base-product .minerals-wrap .prdList .thumbnail .wish{
    display: none;
}
#minerals.ec-base-product .minerals-wrap .prdList .diN{
    display: none;
}
#minerals.ec-base-product .minerals-wrap ul.grid2 li .thumbnail { 
    float:none; 
    max-width:15.625rem; 
    width: 100%;
    text-align:left; 
    margin:0; 
}
#minerals.ec-base-product .minerals-wrap .text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
#minerals.ec-base-product .minerals-wrap .text-box .t01{
    color: #333;
    font-size: 1.25rem;
    font-weight: 500;
}
#minerals.ec-base-product .minerals-wrap .text-box.text01 .t02{
    text-align: end;
}
#minerals.ec-base-product .minerals-wrap .text-box .line{
    width: 30px;
    height: 1px;
    background-color: #333;
}
#minerals.ec-base-product .minerals-wrap .text-box.text03 .line{
    margin-left: auto;
}
#minerals.ec-base-product .minerals-wrap .text-box .subtext{
    color: #333;
    font-size: 1rem;
}
#minerals.ec-base-product .minerals-wrap .text-box .t02 a{
    color: #A0A0A0;
    font-size: .875rem;
}
#minerals.ec-base-product ul.grid2 li .description{
    display: none;
}
/* ********** 상단배너 종료 ********** */


/* ********** Popular Collections 스와이퍼 슬라이드 시작 ********** */
#popular .popular-wrap{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
#popular .popular-wrap.swiper {
    width: 100%;
    height: 100%;
}
#popular .popular-wrap .swiper-slide {
    text-align: center;
}
#popular .popular-wrap .swiper-slide img {
    display: block;
    object-fit: cover;
}
#popular .popular-wrap .swiper-pagination-bullet{
    width: calc(100% / 3);
    height: 1px;
    background-color: #ccc;
    margin: 0;
    border-radius: 0;
}
#popular .popular-wrap .swiper-pagination-bullet-active{
    width: calc(100% / 3);
    height: 1px;
    background-color: #333;
}
#popular .popular-wrap .swiper-button-prev{
    width: 3.125rem;
    height: 3.125rem;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    transform: rotate(-135deg) scale(.4);
}
#popular .popular-wrap .swiper-button-next{
    width: 3.125rem;
    height: 3.125rem;
    border-top: solid 1px #ccc;
    border-right: solid 1px #ccc;
    transform: rotate(45deg) scale(.4);
}
#popular .popular-wrap .swiper-button-prev::after,
#popular .popular-wrap .swiper-button-next::after{
    content: '';
}
#popular.ec-base-product .popular-wrap .prdList { 
    width:100%; 
    margin:0; 
    padding: 3.75rem 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
}
#popular.ec-base-product .popular-wrap .prdList > li{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}
#popular.ec-base-product .popular-wrap .prdList .thumbnail{
    width: 80%;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}
#popular.ec-base-product .popular-wrap .prdList .thumbnail a{
    display: block;
    background-color: #F8F8F8;
    border-radius: 50%;
}
#popular.ec-base-product .prdList .description { 
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#popular.ec-base-product .prdList .thumbnail .icon { 
    margin:0; 
    border-bottom:0; 
    vertical-align:middle; 
    width: 100%;
}
#popular.ec-base-product .prdList .thumbnail .wish{
    position: static;
    cursor:pointer;
}
#popular.ec-base-product .prdList .thumbnail .button { 
    float:none; 
    margin:0; 
    display: flex;
    justify-content: flex-end;
}
#popular.ec-base-product .prdList .thumbnail .button img { 
    margin:0 2px 0 0; 
    cursor:pointer; 
}
#popular.ec-base-product .prdList .thumbnail .button img:nth-child(5) { 
    display: none;
}
#popular.ec-base-product .spec li{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#popular.ec-base-product .spec li:nth-child(1){
    margin-bottom: 10px;
}
#popular.ec-base-product .spec li:nth-child(2){
    margin-right: 10px;
}
#popular.ec-base-product .spec li:nth-child(2),
#popular.ec-base-product .spec li:nth-child(3){
    display: inline-block;
}
#popular.ec-base-product .prdList .description .name{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#popular.ec-base-product .prdList .thumbnail a img:hover {
    transform: scale(1);
}
/* ********** Popular Collections 스와이퍼 슬라이드 종료 ********** */


/* ********** Favorite Categories 스와이퍼 슬라이드 시작 ********** */
#categories{
    background-color: #F8F8F8;
    padding: 6.25rem 0;
    box-sizing: border-box;
}
#categories .categories-wrap{
    display: flex;
}
#categories .categories-wrap .left{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}
#categories .categories-wrap .left img{
    display: block;
    max-width: 215px;
}
#categories .categories-wrap .left h2{
    font-size: 1.75rem;
    color: #333;
    font-weight: 500;
}
#categories .categories-wrap .left p{
    color: #A0A0A0;
    font-weight: 500;
}
#categories .categories-wrap .right-slide{
    width: 80%;
    padding: 0 50px;
    box-sizing: border-box;
}
#categories .categories-wrap .swiper {
    width: 100%;
    height: 100%;
}
#categories .categories-wrap .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 31.25rem;
}
#categories .categories-wrap .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#categories .categories-wrap .swiper-slide > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    width: 76%;
    height: 100%;
}
#categories .categories-wrap .swiper-slide .t01{
    font-size: 1.5rem;
    font-weight: 700;
}
#categories .categories-wrap .swiper-slide .t02{
    margin: .25rem 0 2.5rem;
}
#categories .categories-wrap .swiper-slide .box{
    display: block;
    width: 100%;
    height: 70%;
    border-top-left-radius: 18.75rem;
    border-top-right-radius: 18.75rem;
}
#categories .categories-wrap .swiper-slide .box.cg01{
    background: url('/img/cg01.jpg') no-repeat center / cover;
}
#categories .categories-wrap .swiper-slide .box.cg02{
    background: url('/img/cg02.jpg') no-repeat center / cover;
}
#categories .categories-wrap .swiper-slide .box.cg03{
    background: url('/img/cg03.jpg') no-repeat center / cover;
}
#categories .categories-wrap .c01{
    background-color: #95657F;
}
#categories .categories-wrap .c02{
    background-color: #C8A67F;
}
#categories .categories-wrap .c03{
    background-color: #D0A29B;
}
/* ********** Favorite Categories 스와이퍼 슬라이드 종료 ********** */


/* ********** Best Collection Tab 시작 ********** */
#collection{
    background-color: #FEFDF8;
}
#collection.ec-base-product .tab-content .title{
    display: none;
}
#collection .nav.nav-pills{
    justify-content: center;
    margin: 3.75rem 0;
    gap: 3.125rem;
}
#collection .nav-pills .nav-link.active,
#collection .nav-pills .show > .nav-link{
    color: #000;
    background-color: transparent;
    font-weight: 500;
    border-bottom: 1px solid #000;
}
#collection .nav-link{
    padding: 0;
    font-size: 1.125rem;
    font-weight: 400;
    color: #000;
}
#collection.ec-base-product .tab-content .ec-base-product{
    padding: 0;
}
#collection.ec-base-product .tab-content .tab-pane.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#collection.ec-base-product .prdList{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#collection.ec-base-product .prdList > li{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}
#collection.ec-base-product .prdList .thumbnail{
    margin: 0;
}
#collection.ec-base-product ul.grid4 > li{
    width: 22%;
}
#collection.ec-base-product .prdList .thumbnail a{
    display: block;
}
#collection.ec-base-product .prdList .description { 
    padding: 0 0 1rem 0;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#collection.ec-base-product .prdList .thumbnail .icon { 
    margin:0; 
    border-bottom:0; 
    vertical-align:middle; 
    width: 100%;
}
#collection.ec-base-product .prdList .thumbnail .wish{
    position: static;
    cursor:pointer;
}
#collection.ec-base-product .prdList .thumbnail .button { 
    float:none; 
    margin:0; 
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.25rem;
}
#collection.ec-base-product .prdList .thumbnail .button img { 
    margin:0 2px 0 0; 
    cursor:pointer; 
}
#collection.ec-base-product .prdList .thumbnail .button img:nth-child(5) { 
    display: none;
}
#collection.ec-base-product .spec li{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#collection.ec-base-product .spec li:nth-child(1){
    margin-bottom: 10px;
}
#collection.ec-base-product .spec li:nth-child(2){
    margin-right: 10px;
}
#collection.ec-base-product .spec li:nth-child(2),
#collection.ec-base-product .spec li:nth-child(3){
    display: inline-block;
}
#collection.ec-base-product .prdList .description .name{
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* ********** Best Collection Tab 종료 ********** */


/* ********** Media MINERALS 시작 ********** */
#media.ec-base-product{
    padding: 6.25rem 0 10rem;
}
#media .media-wrap .title{
    padding: 0 0 10rem;
}
#media .media-wrap .title h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#media .media-wrap .title h2 img{
    display: inline-block;
    max-width: 250px;
    width: 100%;
}
#media .media-wrap .title h2 span{
    letter-spacing: 7.2px;
    font-weight: 400;
}
#media .media-bg{
    background-color: #D9D9D9;
    min-height: 31.25rem;
    padding: 10rem 0;
    box-sizing: border-box;
    position: relative;
}
#media .media-bg iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1240px;
    transform: translate(-50%, -50%);
}
/* ********** Media MINERALS 종료 ********** */


/* ********** Instagram 시작 ********** */
#instagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
}
#instagram .insta-wrap{
    display: flex;
    flex-wrap: wrap;
}
#instagram .insta-wrap li{
    width: calc(100% / 4);
}
#instagram .insta-wrap li a{
    display: block;
}
#instagram .insta-wrap li a img{
    display: block;
    width: 100%;
}
/* ********** Instagram 종료 ********** */


/* ********** list css 리스트 시작 ********** */
.xans-product-menupackage{
    margin: 0;
}
.xans-product-menupackage .title {
    min-height: 30px;
    margin: 0;
    text-align: center;
}
.xans-product-menupackage .title h2 {
    color: #000;
    font-size: 2.25rem;
    font-weight: 400;
}
.xans-product-menupackage .title .banner {
    margin: 0;
}
.xans-product-normalmenu .function {
    display: flex;
    justify-content: space-between;
    border: none;
    margin-top: 1rem;
}
.xans-product-normalmenu .prdCount {
    float: none;
    padding: 0;
    color: #333;
    font-size: 1rem;
}
.xans-product-normalmenu .prdCount strong{
    color: #000;
}
.xans-product-normalmenu #type {
    border: none;
    background: none;
}
.xans-product-menupackage .title{
    display: flex;
}
.xans-product-menupackage .title .banner{
    width: 50%;
}
.xans-product-menupackage .title .banner img{
    display: block;
    width: 100%;
}
.xans-product-menupackage .title h2{
    width: 50%;
    background-color: #F1E6DA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.xans-product-menupackage .title h2 span{
    font-size: 2.875rem;
    color: #333;
    border-bottom: 2px solid #333;
}
.ec-base-product .prdList .thumbnail{
    overflow: hidden;
}
.ec-base-product .prdList .thumbnail a img{
    transition: all .4s ease-in-out;
}
.ec-base-product .prdList .thumbnail a img:hover{
    transform: scale(1.2);
}
.list-product .ec-base-product{
    padding: 2.5rem 0;
}
.path{
    padding: 2rem 0;
}
.xans-product-menupackage .menuCategory {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.xans-product-menupackage .menuCategory > li {
    display: inline-block;
    width: 175px;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: normal;
    vertical-align: top;
    text-align: center;
}
.xans-product-menupackage .menuCategory > li > a{
    background: none;
    font-size: 1.25rem;
    font-weight: 400;
    color: #333;
    border-bottom: 1px solid transparent;
    padding: 0;
}
.xans-product-menupackage .menuCategory > li.selected > a {
    color: #000;
    border-bottom: 1px solid #000;
}
.xans-product-menupackage .menuCategory > li > a:hover {
    color: #000;
}
/* ********** list css 리스트 종료 ********** */


/* ********** detail 상품상세(디테일) 시작 ********** */
.xans-product-detail .headingArea,
.xans-product-detail .detailArea .xans-product-image.imgArea .keyImg .thumbnail a #zoomMouseGiude img,
.xans-product-detail .detailArea .xans-product-image.imgArea .control,
.xans-product-detail .detailArea .xans-product-image.imgArea .gColumn,
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(1) th,
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(2) th,
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(3) th,
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(4) th,
.detailArea .infoArea .guideArea,
.detailArea .infoArea #totalProducts p,
.xans-product-detail .detailArea .thumbnail .wish,
#totalProducts tbody td img{
    display: none;
}
.xans-product-detail .imgArea .keyImg{
    width: 500px;
    margin: 0 4rem 0 0;
}
.xans-product-detail .imgArea .keyImg img {
    max-width: 100%;
    border: none;
    cursor: pointer;
}
#image_zoom_small{
    outline: none;
}
.xans-product-detail .detailArea{
    padding: 0;
    display: flex;
}
.xans-product-detail .imgArea {
    float: none;
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}
.xans-product-detail .imgArea .listImg {
    overflow: hidden;
    width: 100px;
    margin: 0;
}
.xans-product-detail .imgArea .listImg ul {
    min-width: 100px;
    height: auto;
    width: 100px;
    min-height: 400px;
    margin: 0;
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.xans-product-detail .imgArea .listImg li{
    position: relative;
    margin: 0;
}
.xans-product-detail .imgArea .listImg li img {
    width: 100%;
    border: 0;
    opacity: .6;
}
.xans-product-detail .detailArea .xans-product-image.imgArea .listImg ul li:hover .ThumbImage {
    opacity: 1;
}
.xans-product-detail .infoArea td #span_product_price_text {
    font-weight: bold;
}
.xans-product-detail .infoArea{
    width: 50%;
}
.xans-product-detail .detailArea .infoArea table tbody td{
    padding: 0;
    width: 100%;
}
.xans-product-detail .detailArea .infoArea .xans-product-detaildesign table tbody tr:nth-child(2){
    display: block;
    padding: 10px 0 2rem;
}
.xans-product-detail .detailArea .infoArea .xans-product-detaildesign table tbody tr:nth-child(5){
    padding: 2rem 0 10px;
}
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(5),
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(6){
    display: flex;
    align-items: center;
    justify-content: center;
}
.xans-product-detail .detailArea .infoArea table tbody tr th{
    padding: 0;
}
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(3),
.xans-product-detail .detailArea .infoArea table tbody tr:nth-child(4){
    display: inline-block;
    margin-right: 1rem;
}
#totalProducts {
    margin: 2rem 0 0;
}
#totalProducts > table > tbody > tr{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}
#totalProducts > table > tbody > tr:first-child > td {
    border-top: 1px solid #eeeeee;
    font-size: 1rem;
    font-weight: 500;
}
#totalProducts > table > tbody > tr > td:nth-child(1){
    width: 100%;
    padding-top: 2.5rem;
}
#totalProducts > table > tbody > tr > td:nth-child(2),
#totalProducts > table > tbody > tr > td:nth-child(3){
    width: 50%;
    border-top: none;
}
.totalPrice {
    margin: 10px 0 0;
    padding: 34px 9px 19px;
    border-top: none;
    color: #353535;
    vertical-align: middle;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#totalProducts table .right {
    padding-right: 9px;
    font-weight: bold;
    color: #000;
    text-align: right;
    line-height: 30px;
}
.totalPrice .total {
    color: #000;
}
#totalProducts tbody td {
    padding: 20px 0 0;
    color: #353535;
    line-height: 18px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}
#totalProducts table tbody td .quantity {
    position: relative;
    display: inline-block;
    width: 103px;
    padding: 0 30px;
    vertical-align: top;
    box-sizing: border-box;
}
#totalProducts table tbody td .quantity input {
    width: 45px;
    height: 30px;
    padding: 0;
    line-height: 28px;
    border: solid 1px #eee;
    text-align: center;
    outline: none;
    color: #000;
    border-radius: 0;
}
#totalProducts table tbody td .quantity .up {
    left: auto;
    right: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#totalProducts table tbody td .quantity a {
    width: 30px;
    height: 30px;
    border: solid 1px #eee;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 150%;
    color: transparent;
    font-size: 1px;
    line-height: 1px;
    background-color: #eee;
}
#totalProducts table tbody td .quantity a::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    width: 9px;
    height: 1px;
    background: #000;
}
#totalProducts table tbody td .quantity .up::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 9px;
    margin: -4px 0 0 0;
    background: #000;
}
#totalProducts table tbody td .quantity .down {
    left: 0;
    top: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.xans-product-detail .infoArea .xans-product-action{
    border-top: none;
}
.xans-product-detail .infoArea .xans-product .gColumn{
    margin: 0 0 0 auto;
    width: 60%;
}
.xans-product-detail .infoArea .xans-product .gColumn .gColumn-btn{
    border: solid 1px #eee;
}
.xans-product-detail .infoArea .xans-product .gColumn .wish {
    transition: all .4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #eee;
    background: transparent;
    width: 100px;
}
.xans-product-detail .infoArea .xans-product .gColumn .wish:hover,
.xans-product-detail .infoArea .xans-product .gColumn .basket-btn:hover{
    background-color: #f7f7f7;
    border-color: #333;
}
.xans-product-detail .infoArea .xans-product .gColumn .basket-btn{
    width: 100px;
    transition: all .4s ease-in-out;
}
.xans-product-detail .infoArea .xans-product .gColumn .btn-default{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 0 .5rem;
    padding: 1rem;
}
.xans-product-detail .infoArea .xans-product .gColumn .btnSubmit{
    font-family: "Noto Sans KR", sans-serif;
    background-color: #333;
    transition: all .4s ease-in-out;
    border: solid 1px #333;
} 
.xans-product-detail .infoArea .xans-product .gColumn .btnSubmit:hover{
    background-color: #000;
    border-color: #000;
}
/* 상세페이지 탭 */
.tabProduct {margin:0 auto;padding:15px 0;background-color:#fff;}
.tabProduct_box {
    height: 60px;
    margin: 4rem auto;
}
.tabProduct ul {margin:0 auto;display:flex;justify-content: center;max-width:600px;}
.tabProduct li {width:24%;padding:0;border:0;text-align:center;}
.tabProduct li:last-child {width:28%;padding:0;border:0;text-align:center;}
.tabProduct li a {
    display:inline-block;
    font-weight:400;
    font: size 1rem;
    color:#9a9a9a;
    letter-spacing:-0.05em;
    white-space:nowrap;
    vertical-align: middle;
    border-bottom:1px solid transparent;
}
.tabProduct li:last-child a {border-right:0;}
.tabProduct li.selected {border:0;}
.tabProduct li.selected a {
    color:#000;
    background-color:#fff;
    border-bottom:1px solid #000;
}
.tabProduct li a span {
    display: inline-block;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: .75rem;
    text-align: center;
    line-height: 15px;
    text-indent: -1px;
    background-color: #9a9a9a;
    border-radius: 4px;
    margin: -4px 0 0 6px;
    vertical-align: middle;
}
#prdReview,#prdQnA,#prdInfo {display:none;}
.tabProduct.tab_fixed {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:90;
    margin:0 auto;
}
/* 관련상품 */
.relation {position:relative;}
.relation .relation_title {
    padding:50px 0 15px;
    font-size: 1.125rem;
    font-weight:500;
    line-height:1;
    color:#000;
}
.relation .swiper-pagination.swiper-pagination-relation {
    position: static;
    font-weight: 400;
    font-size: .875rem;
    width: 78px;
    line-height: 2;
    background-color: #eee;
    border-radius: 20px;
    margin: 1rem auto 4rem;
    color: #999;
}
.relation .swiper-pagination-bullet {width:12px; height:12px;background-color:#d0ac88;margin:0 10px !important;opacity:0.5;outline:none;border-radius:10px;transition:all 0.3s;-webkit-transition:all 0.3s;-o-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;}
.relation .swiper-pagination-bullet-active {background-color:#d0ac88;opacity:1;}
/* .relation .swiper-prev-relation {background:url("/SkinImg/img/slide_ar_l.svg") no-repeat center; background-size:70px; left:-70px;}
.relation .swiper-next-relation {background:url("/SkinImg/img/slide_ar_r.svg") no-repeat center; background-size:70px; right:-70px;} */
.relation .swiper-prev-relation span{
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(-135deg) scale(.4) translate(-8px, 8px);
    cursor:pointer;
}
.relation .swiper-next-relation span{
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    border-top: solid 2px #000;
    border-right: solid 2px #000;
    transform: rotate(45deg) scale(.4) translate(-8px, 8px);
    cursor:pointer;
}
.relation .swiper-next-relation{
    width: 3.125rem;
    height: 3.125rem;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 50%;
    top:42%;
    right:0%;
    position:absolute;
    z-index:2;
}
.relation .swiper-prev-relation{
    width: 3.125rem;
    height: 3.125rem;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 50%;
    top:42%;
    left:0%;
    position:absolute;
    z-index:2;
}
.relation .swiper-prev-relation::after,
.relation .swiper-next-relation::after{
    content: '';
}
.relation .ec-base-product{
    padding: 1rem 0;
    overflow: hidden;
}
.relation .ec-base-product .prdList{
    flex-wrap: nowrap;
}

.swiper-container.relation_slide ul {display:flex;padding:0;margin:0;height:auto;}
.swiper-container.relation_slide ul .thumbnail {margin:0;}
.swiper-container.relation_slide ul > li {
    width: calc(100% / 5) !important;
    vertical-align:top;
    overflow:hidden;
    margin:0;}
.swiper-container.relation_slide ul > li .prdList__item {
    margin:0;
    width: 100%;
}
.swiper-container.relation_slide ul > li .description {margin:0 auto;min-height:110px;padding:30px 0px 10px;position:relative;}
.swiper-container.relation_slide ul > li .description .name a {font-size:16px;color:#1a1a1a;line-height:1.2;letter-spacing:-0.025em;}
.swiper-container.relation_slide ul > li .description .price {font-size:20px;font-weight:600;margin-top:25px;color:#1a1a1a;}
/* 상품후기, 상품문의 게시판 */
.xans-product-additional .board_title{
    display: none;
}
#prdReview .ec-base-table thead th:nth-child(2),
#prdQnA .ec-base-table thead th:nth-child(3){
    text-align: left;
    text-indent: 10px;
}
.xans-product-additional .ec-base-table thead th{
    border-bottom: 1px solid #000;
    border-left: none;
    background: none;
}
#product-review-read td, #product-qna-read td {
    padding: 40px 0 0 0;
}
.xans-product-additional .ec-base-button {
    padding: 10px 34px;
}
.xans-product-additional .ec-base-button .gLeft a{
    padding: 6px 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: .875rem;
}
.xans-product-additional .memoCont{
    background: none;
    border: none;
    border-top: 1px solid #e9e9e9;
}
.xans-product-additional .memoCont .user textarea{
    height: 100px;
    outline: none;
    background: #fbfafa;
}
.xans-product-additional .memoCont .user a.btnEm.sizeL {
    font-family: "Noto Sans KR", sans-serif;
    font-size: .875rem;
    background-color: #333;
}
.xans-product-additional .memoCont .user a.btnEm.sizeL:hover{
    background-color: #000;
}
.xans-product-additional .memoCont .user input[type=text],
.xans-product-additional .memoCont .user input[type=password]{
    height: 26px;
    font-size: 14px;
    outline: none;
    background: #fbfafa;
}
.xans-product-additional .boardComment {
    padding: 0 34px;
}
.xans-product-additional .boardComment li .name {
    margin: 0 21px 0;
}
.xans-product-additional .boardComment li .comment {
    padding: 16px 0 15px 21px;
}
.xans-product-additional .bottom-wrap{
    display: flex;
    justify-content: space-between;
}
.xans-product-additional .bottom-wrap .ec-base-button {
    margin: 30px 0 10rem;
    padding: 0 34px;
}
.xans-product-additional .bottom-wrap .ec-base-button a {
    padding: 6px 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: .875rem;
    width: 100px;
}
#prdInfo{
    padding: 0 0 4rem 0;
}
.detail_guide .ec-base-fold.theme1 .title h2 {
    padding: 1.25rem 1rem;
    font-size: 1rem;
    color: #000;
}
.detail_guide .ec-base-fold.theme1 .contents {
    padding: 1rem;
    font-size: .875rem;
    color: #999;
}
#prdReview .contents .nodata,
#prdQnA .contents .nodata{
    text-align: center;
}
/* ********** detail 상품상세(디테일) 종료 ********** */


/* ********** search 검색창 시작 ********** */
#searchContent,
.btnSearchOption{
    display: none;
}
.xans-element-.xans-product.xans-record-.xans-product-searchdata .searchField {
    background: none;
}
.xans-element-.xans-product.xans-record-.xans-product-searchdata .searchResult {
    border: 0;
    text-align: center;
}
.xans-element-.xans-product.xans-record-.xans-product-searchdata .searchResult .record {
    float: none;
    color: #333;
}
/* ********** search 검색창 종료 ********** */


/* ********** basket 장바구니 시작 ********** */
#basket-path{
    visibility: hidden;
}
.titleArea.basket-title{
    margin-bottom: 4rem;
}
.xans-element-.xans-order.xans-order-basketpackage .orderStep,
.xans-element-.xans-order.xans-order-basketpackage .typeMember,
.xans-element-.xans-order.xans-order-basketpackage .typeLight .menu li:nth-child(2){
    display: none;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-tab .menu{
    background: none;
    border: none;
    border-bottom: 1px solid #333;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-tab.typeLight .menu li.selected a {
    color: #000;
    font-weight: 400;
}
.xans-element-.xans-order.xans-order-basketpackage .xans-order-empty p {
    text-align: center;
    font-weight: 400;
    color: #707070;
    padding: 36px 0px;
    margin: 80px 0px;
    background: url('/img/icon/Info_light.svg') no-repeat center top;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnSubmitFix,
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnEmFix,
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnNormalFix{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 13px;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnSubmitFix{
    background-color: #000;
    border: none;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnSubmitFix:hover{
    background-color: #333;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnEmFix,
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnNormalFix{
    background-color: #fff;
    color: #000;
    border: 1px solid #d1d1d1;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnEmFix:hover,
.xans-element-.xans-order.xans-order-basketpackage .ec-base-button.justify .btnNormalFix:hover{
    background-color: #f5f5f5;
}
.orderListArea.ec-base-table.typeList.gBorder thead th{
    font-weight: 400;
    border-left: none;
    font-size: .875rem;
    background: none;
}
input[type=checkbox]:not(old) {
    background: url('/img/icon/Square_Check.svg') no-repeat;
    width: 20px !important;
    height: 20px !important;
    -webkit-appearance: none;
}
input[type=checkbox]:not(old):checked {
    background: url('/img/icon/Square_Check_on.svg') no-repeat;
    width: 20px !important;
    height: 20px !important;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-table td.thumb img {
    max-width: 160px;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-table.typeList td {
    padding: 24px 16px 24px 16px;
    font-size: 14px;
    color: #3a3a3a;
}
.xans-element-.xans-order.xans-order-list.center tr .left.gClearLine .name {
    font-weight: 400;
}
.xans-element-.xans-order.xans-order-basketpackage .ec-base-table.gBorder td {
    border-left: none;
}
/* ********** basket 장바구니 종료 ********** */